<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Beat Junkies</title>
</head>
<body>
    <header class="main-header" id="headerMain">
        <div class="header">
            <center><h1>beatjunky</h1></center>
            <center>its tha loop digga</center>
    </header>
    <center><section>
        <button>home</button>
        <button>producers</button>
        <button>about</button>
    </section></center>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>