{% extends 'base_layout.htm' %}

{% block content %}


<section class="title">
    <center><h1 class="title" style="color: white;">
        Producers
    </h1></center>
</section>
<div>
    <center><ul style="list-style: none;
               display: grid;
               grid-template-columns: 1fr 1fr 1fr 1fr;
               list-style-type: none;">
        {% for producer in queryset %}
            <li style="padding: 10px;">
                <a href="{% url 'producers:bio' slug=producer.slug%}" >
                    <img src="{{producer.image.url}}" alt="" style="height: 300px; width:350px;">
                    <h3 style="color:white; text-decoration: none;">{{ producer.name }}</h3>
                </a>
            </li>
        {% endfor %}
    </ul></center>
</div>
{% endblock %}