{% extends 'base_layout.htm' %}

{% block content %}
<section class="title">
    <h1 class="name">
        <center><a class="Artist" style="font-size: 30px; padding: 30px">{{ producer.name }}</a></center>
    </h1>
    <div>
        <img src="{{ producer.image.url }}" style="height:300px; padding-left:30px; float:left"/>
        <form class="search-form" action="{% url 'producers:search' %}" method="GET" enctype="multipart/form-data" style="float:right; padding-right:50px; height:300px;">
            {% csrf_token %}
            <input class="form-control" type="search" name="artist_contains" placeholder="Search By Artist or Title"/>
            <button type='submit' class="Search">
                Search
            </button>
        </form>
        <center><div>
            <ul style="width: 25%; list-style-type: none;">
                <h1>{{count}} Results</h1>
                {% for sample in posts %}
                    <li style="padding:10px; border-top-style:inset;
                                             border-bottom-style:inset;
                                             border-left-style:solid;
                                             border-right-style:solid;">
                        <span style="font-size: large;
                                     font:bold;
                                     float:left;">
                                     {{ sample.title }}
                        </span> <br/>
                        <span style="font-size: large;
                                     font:bold;
                                     float:left;">
                                     By {{ sample.artist }}
                        </span> <br/>
                    </li>
                    <br/>
                {% endfor %}
        </div></center>
    </div>
</section>
{% endblock %}
