<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="main-header" id="headerMain">
        <div class="header">
            <center><h1>beatjunky</h1></center>
            <center>its tha loop digga</center>
    </header>
    <center><section>
        <button>home</button>
        <button>beats</button>
        <button>artists</button>
    </section></center>
    
    <br>
    <header>
        <div class="highlights">
            <h1>highlights</h1>
            <br>
                <center><div class="gallery">
                    <img src="quasandkane1.jpg" alt="" width="300" height="300">
                    <img src="samiyam1.jpg" alt="" width="300" height="300">
                    <img src="mnd1.jpg" alt="" width="300" height="300">
                    <img src="dilla1.jpg" alt="" width="300" height="300">
                    <img src="budgie1.jpg" alt="" width="300" height="300">
                </center></div>
            
        </div>
    <header>
</body>
</html>
