{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Beat Junkies</title>
</head>
<body style="background-image: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url('/static/photos/wallpaper.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 30px;
            background-color: #333;
            padding: 120px;">
    <header class="main-header" id="headerMain">
        <div class="header">
            <center><h1>beatjunky</h1></center>
            <!-- <center>its tha loop digga</center> -->
    </header>
    <section>
        <div class="navbar" 
        style="padding: 20px;
               background-color:#333">
            <a class="navbar-producers" href="{% url 'samples:search' %}"
            style="font-size:20px;
                   font: 'Courier New', monospace;
                   text-decoration: none;
                   color: white;
                   margin: 10px;
                   padding: 10px 20px;
                   border: 1px solid transparent;
                   border-radius: 20px;
                   cursor: pointer;
                   transition: all 1s;">Home</a>
            <a class="navbar-producers" href="{% url 'producers:index' %}"
            style="font: 'Courier New', monospace;
                   text-decoration: none;
                   font-size:20px;
                   color: white;
                   margin: 10px;
                   padding: 10px 20px;
                   border: 1px solid transparent;
                   border-radius: 20px;
                   cursor: pointer;
                   transition: all 1s;">Producers</a>
        </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>